{% extends "layouts/base.html" %}
{% block title %}Additional Information {% endblock %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="container mt-5">
        <h2>Create Assets Metadata</h2>
        <form method="POST" action="{% if form_type == 'assets_metadata' %}{{ url_for('leases.create_assets_metadata') }}{% else %}{{ url_for('leases.create_additional_field') }}{% endif %}">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {% if form_type == 'assets_metadata' %}
            <div class="mb-3">
                {{ form.license.label }} {{ form.license(class="form-control") }}
                {% for error in form.license.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.cancellation_policy.label }} {{ form.cancellation_policy(class="form-control") }}
                {% for error in form.cancellation_policy.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.require_guest_profile_picture.label }} {{ form.require_guest_profile_picture(class="form-check-input") }}
                {% for error in form.require_guest_profile_picture.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.require_guest_phone_verification.label }} {{ form.require_guest_phone_verification(class="form-check-input") }}
                {% for error in form.require_guest_phone_verification.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.listing_id.label }} {{ form.listing_id(class="form-control") }}
                {% for error in form.listing_id.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.user_id.label }} {{ form.user_id(class="form-control") }}
                {% for error in form.user_id.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            <div class="mb-3">
                {{ form.name.label }} {{ form.name(class="form-control") }}
                {% for error in form.name.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.value.label }} {{ form.value(class="form-control") }}
                {% for error in form.value.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.assets_metadata_id.label }} {{ form.assets_metadata_id(class="form-control") }}
                {% for error in form.assets_metadata_id.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}
