<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Afrolodge</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Stays</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Online Experiences</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="btn btn-outline-primary me-2" href="#">
          {{  greeting }}
        </a>
        <a class="btn btn-outline-primary" href="/">
            <i class="bi bi-globe"></i>
        </a>
    </div>
    <div class="dropdown">
      <button
          class="btn btn-outline-primary dropdown-toggle"
          type="button"
          id="userDropdown"  data-bs-toggle="dropdown"
          aria-expanded="false"
      >
        <i class="bi bi-person-circle"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        {% if current_user.is_authenticated %}
          <li><a class="dropdown-item" href="{{ url_for('authentication_blueprint.dashboard') }}">Dashboard</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="{{ url_for('authentication_blueprint.logout') }}">Logout</a></li>
        {% else %}
          <li><a class="dropdown-item" href="{{ url_for('authentication_blueprint.login') }}">Login</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="{{ url_for('authentication_blueprint.register') }}">Sign Up</a></li>
        {% endif %}
       </ul>
      </div>

    </div>
  </div>
</nav>
<!-- End Navbar -->
