{% extends "layouts/base.html" %}

{% block title %} Change Password{% endblock %}
{% block stylesheets %}
  <style>
    /* Custom CSS styles for the login form */
    .page-header {
      background-size: cover;
      background-position: center;
    }

    .card {
      border: none;
      border-radius: 15px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .card-header {
      background-color: #4e73df;
      border-radius: 15px 15px 0 0;
    }

    .card-body {
      padding: 30px;
    }

    .form-control {
      border-radius: 10px;
    }

    .form-check-input:checked {
      background-color: #4e73df;
    }

    .btn {
      border-radius: 10px;
    }

    .btn:hover {
      background-color: #375aac;
    }

    .text-primary {
      color: #4e73df;
    }

    .text-primary:hover {
      color: #375aac;
    }

    .text-gradient {
      background: -webkit-linear-gradient(45deg, #4e73df, #975ad6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>
{% endblock stylesheets %}
{% block content %}
  <h2>Change Password</h2>
  <form method="post" action="{{ url_for('authentication_blueprint.change_password') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.current_password.label(class="form-label") }}
      {{ form.current_password(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.new_password.label(class="form-label") }}
      {{ form.new_password(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.confirm_new_password.label(class="form-label") }}
      {{ form.confirm_new_password(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
{% endblock %}
