{% extends "layouts/base.html" %}
{% block title %} {{ user.username }} | Dashboard {% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">{{ welcome_message }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href=" ">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7">
                    <!-- Profile -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-pie mr-1"></i>
                                Profile Information
                            </h3>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content p-0">
                                <!-- Profile Info -->
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if user %}
                                        <ul>
                                            <li>User ID: {{ user.id }}</li>
                                            <li>Username: {{ user.username }}</li>
                                            <li>Email: {{ user.email }}</li>
                                            <li>Phone: {{ user.phone }}</li>
                                            <li>Date Registered: {{ user.registration_date }}</li>
                                            <li>About: {{ user.about }}</li>
                                            <li>Response Time: {{ user.response_time }}</li>
                                            <li>Listings Count: {{ user.listings_count }}</li>
                                        </ul>
                                        {% else %}
                                        <p>No information available. Please add.</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {% if user and user.profile_pic %}
                                        <p>Profile Picture:</p>
                                        <img src="{{ url_for('static', filename='HouseImages/' + user.profile_pic) }}"
                                            class="card-img-top img-fluid">
                                        {% else %}
                                        <p>No profile picture available.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link active"
                                        href="{{ url_for('authentication_blueprint.update_profile') }}"
                                        data-toggle="tab">Update Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('authentication_blueprint.change_password') }}"
                                        data-toggle="tab">Change Password</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->

                    <!-- Listed Assets -->
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">
                                <i class=""></i>
                                Listed Assets
                            </h2>
                        </div>
                        <div class="card-body">
                            {% if listing_info %}
                            <ol>
                                {% for listing in listing_info %}
                                <li>
                                    <a href="{{ url_for('leases_blueprint.view_listing', listing_id=listing.id) }}"
                                        data-toggle="tooltip" title="Click to view details">
                                        <ul>
                                            <li>Listing ID: {{ listing.id }}</li>
                                            <li>Listing Name: {{ listing.name }}</li>
                                        </ul>
                                </li>
                                {% endfor %}
                            </ol>
                            {% else %}
                            <p class="nav-item">No information available. Please add.</p>
                            {% endif %}
                        </div>
                        <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="tab">Update</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{ create_link_active }}"
                                        href="{{ url_for('leases_blueprint.create_listing') }}" data-toggle="tab">List
                                        Assets</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->

                    <!-- My Assets review -->
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title
                            ">
                                <i class="fas fa-chart-pie mr-1"></i>
                                My Assets Review
                            </h2>
                        </div>
                        <div class="card-body">
                            {% if reviews %}
                            <ul>
                                {% for review in reviews %}
                                <li>{{ review.review_id }}</li>
                                <li>{{ review.review }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p class="nav-item">
                                No information available. Please add.
                            </p>
                            {% endif %}

                        </div>
                        <div class="card-tools
                        ">
                            <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="" data-toggle="tab">Update</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{ create_link_active }}" href="" data-toggle="tab">Add
                                        Review</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->


                    <!-- To Do List Section Goes Here -->
                </section>
                <!-- /.Left col -->

                <!-- Right col -->
                <section class="col-lg-5">
                    <!-- Location Card -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-pie mr-1"></i>
                                Location Information
                            </h3>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            {% if location_info %}
                            <ul>
                                {% for location in location_info %}
                                <li>Location ID: {{ location.id }}</li>
                                <li>House Number: {{ location.house_number }}</li>
                                <li>Street: {{ location.street }}</li>
                                <li>Neighborhood: {{ location.neighborhood }}</li>
                                <li>Market: {{ location.market }}</li>
                                <li>City: {{ location.city }}</li>
                                <li>State: {{ location.state }}</li>
                                <li>Country: {{ location.country }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p class="nav-item">No information available. Please add.</p>
                            {% endif %}
                        </div>
                        <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{ url_for('area_blueprint.update_location') }}"
                                        data-toggle="tab">Update Your Location</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('area_blueprint.edit_location') }}"
                                        data-toggle="tab">Add Location</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->

                    <!-- Assets Own -->
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">
                                <i class="fas fa-chart-pie mr-1"></i>
                                Assets Own
                            </h2>
                        </div>
                        <div class="card-body">
                            {% if asset_info %}
                            <ol>
                                {% for asset in asset_info %}
                                <li>
                                    <a href="{{ url_for('assets_blueprint.view_assets', assets_id=asset.id) }}"
                                        data-toggle="tooltip" title="Click to view details">
                                        <ul>
                                            <li>ID: {{ asset.id}}</li>
                                            <li>Type: {{ asset.assets_type }}</li>
                                        </ul>
                                </li>
                                {% endfor %}
                            </ol>
                            {% else %}

                            <p class="nav-item">No information available. Please add.</p>
                            {% endif %}
                        </div>
                        <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="" data-toggle="tab">Update Your Assets</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{ create_link_active }}"
                                        href="{{ url_for('assets_blueprint.create_asset') }}" data-toggle="tab">Add
                                        Assets</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- /.card -->

                    <!-- Booking -->
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title
                            ">
                                <i class="fas fa-chart-pie mr-1"></i>
                                Booking
                            </h2>
                        </div>

                        <div class="card-body">
                            {% if bookings %}
                            <ul>
                                {% for booking in bookings %}
                                <li>{{ booking.booking_id }}</li>
                                <li>{{ booking.booking_date }}</li>
                                <li>{{ booking.booking_time }}</li>
                                <li>{{ booking.booking_status }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p class="nav-item">
                                No information available. Please add.
                            </p>
                            {% endif %}

                        </div>
                        <div class="card-tools
                        ">
                            <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="" data-toggle="tab">Update</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{ create_link_active }}" href="" data-toggle="tab">Add
                                        Booking</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->


                    <!-- Calendar -->
                    <!-- Calendar Section Goes Here -->
                </section>
                <!-- /.Right col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
{% endblock content %}

{% block scripts %}
<script>
    // Initialize Bootstrap tooltips
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock scripts %}