{% extends "layouts/base.html" %}
{% block title %} {{ user.username }} | Dashboard {% endblock %}
{% block stylesheets %}

{% endblock stylesheets %}
{% block content %}
    <h1>{{ welcome_message }}</h1>

    <h3>User Information</h3>
    <ul>
        <li>User ID: {{ user_id }}</li>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Phone: {{ user.phone }}</li>
        <li>Date Registered: {{ user.registration_date }}</li>
        <li>About: {{ user.about }}</li>
        <li>Response Time: {{ user.response_time }}</li>
        <li>Listings Count: {{ user.listings_count }}</li>
        <li>Profile Picture: <img src="{{ user.profile_pic }}" alt="Profile Picture"></li>
    </ul>

    {% if location_info %}
    <h3>Location Information</h3>
    <ul>
        <li>Location ID: {{ location_info.id }}</li>
        <li>House Number: {{ location_info.house_number }}</li>
        <li>Street: {{ location_info.street }}</li>
        <li>Neighborhood: {{ location_info.neighborhood }}</li>
        <li>City: {{ location_info.city }}</li>
        <li>State: {{ location_info.state }}</li>
        <li>Zipcode: {{ location_info.zipcode }}</li>
        <li>Market: {{ location_info.market }}</li>
        <li>Country Code: {{ location_info.country_code }}</li>
        <li>Country: {{ location_info.country }}</li>
        <li>Latitude: {{ location_info.latitude }}</li>
        <li>Longitude: {{ location_info.longitude }}</li>
    </ul>
    {% endif %}


    <a href="/update_profile"><h3>Click To Update Your Profile</h3></a>
    <a href="/update_password"><h3>Add Your Location</h3></a>
    <a href="/update_profile"><h3>Update Your Location</h3></a>

    <a href="/update_password"><h3>Change Password</h3></a>

    <a href="/update_profile"><h3>Add Your Assets</h3></a>
    <a href="/update_profile"><h3>Update Your Assets</h3></a>

    <a href="/update_password"><h3>List Your Assets</h3></a>
    <a href="/update_profile"><h3>Update Your Listings</h3></a>
{% endblock content %}
